.form-container {
  padding-top: 26px;
  display: flex;
  justify-content: center;

  label {
    margin-right: 12px;
  }

  button {
    background-color: white;
    color: $blue;
    border: 0.5px solid $blue;
    margin-left: 12px;
    font-family: roboto-light;
    font-size: 18px;
    border-radius: 20%;

    &:hover {
      cursor: pointer;
    }
  }
}
