.table-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.data-container {
  width: 100%;
  margin-top: 20px;

  th,
  td {
    border-bottom: 1px solid $border;
  }

  th {
    font-family: roboto-bold;
    &:hover {
      cursor: pointer;
    }
  }

  td {
    font-family: roboto-light;
  }

  tbody {
    tr {
      line-height: 30px;
      &:hover {
        background-color: $blue;
        color: white;
      }
    }
  }

  .domain {
    text-align: left;
    padding-left: 20px;
  }
}

@include mobile-layout {
  .table-header {
    flex-direction: column;
    align-items: center;

    .download-btn {
      margin-top: 20px;
    }
  }
}
