body {
  margin: 0;
  font-family: roboto-light;
}

.app-container {
  text-align: center;
  padding: 50px;
  margin: 20px;
}

.main-container {
  background-color: white;
  min-height: 100vh;
}

@include tablet-layout {
  .app-container {
    padding: 0;
  }
}
